src/main/resources/tracker.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tracker">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tracking-time-entry">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:unsignedByte">
                                            <xs:attribute name="type" type="xs:string" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="minutes">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:unsignedInt">
                                            <xs:attribute name="type" type="xs:string" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="since">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:dateTime">
                                            <xs:attribute name="type" type="xs:string" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
